<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ PAGE_TITLE }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="../assets/images/neural-network.png" type="image/x-icon">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <div class="menu-icon" id="menu-icon">
                    &#9776; <!-- This is the hamburger icon -->
                </div>
                <ul id="nav-links">
                    <li><a href="../index.html">Home</a></li>
                    <li class="active"><a href="../all-blogs.html">Blogs</a></li>
                    <li><a href="../all-projects.html">Projects</a></li>
                    <li><a href="../all-publications.html">Publications</a></li>
                    <li><a href="../assets/pdfs/Paul Mello - Resume.pdf" target="_blank">Resume</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="container">
            <h1 class="post-title">
                <a href="{{ EXTERNAL_LINK }}" target="_blank">
                    {{ POST_TITLE }} <i class="fas fa-file-alt"></i>
                </a>
            </h1>
            
            <div class="author-info">
                <div class="name-and-date">
                    <h2 class="author-name">{{ AUTHOR_NAME }}</h2>
                    <p class="post-date">{{ POST_DATE }}</p>
                </div>
            </div>

            <h2>Key Words</h2>
            <p>{{ KEYWORDS }}</p>
            
            <h2>Key Points</h2>
            <p><strong>[Concept]</strong> </p>
            <p><strong>[Model]</strong> </p>
            <p><strong>[Dataset]</strong> </p>
            <p><strong>[Evaluation]</strong> </p>
            <p><strong>[Results]</strong> </p>

            <h2>Quick Description</h2>
            <p>{{ QUICK_DESCRIPTION }}</p>

            <h2>Abstract</h2>
            <p>{{ ABSTRACT }}</p>
            
            <h2>Main Contributions</h2>
            <p>{{ MAIN_CONTRIBUTIONS }}</p>

            <h2>General Comprehension</h2>
            <p>{{ GENERAL_COMPREHENSION }}</p>

            <p style="text-align: center;">
                \[
                  {{ EQUATION }}
                \]
            </p>

            <h2>Final Thoughts</h2>
            <p>{{ FINAL_THOUGHTS }}</p>

            <h2>Notable References</h2>
            <p>
                <a href="{{ REFERENCE_LINK }}" target="_blank">{{ REFERENCE_TITLE }}</a>
            </p>
        </section>
    </main>
    

    <footer>
        <div class="container">
            <p class="copyright">&copy; 2024 Paul Jason Mello</p>
                <div class="social-links">
                <a href="https://x.com/pauljmello">Twitter</a> | 
                <a href="https://www.linkedin.com/in/pauljasonmello/">LinkedIn</a> | 
                <a href="https://github.com/pauljmello">GitHub</a> | 
                <a href="https://scholar.google.com/citations?user=AuGAXRwAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a>
            </div>
        </div>
    </footer>

    <script src="../assets/js/script.js"></script>

</body>
</html>
